footer(class="footer")
    div(class="container pt-4 pb-4")
        div(class="row")
            div(class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3")
                h3(class="footer__title") About <span class="red-text">us</span>
                img(class="footer__thumbnail footer__thumbnail--about" src="./img/city1.jpg", alt="City")
                p Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis. tincidunt sollicitudin. Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam. <a class="red-text">Read more</a>
            
            div(class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3")
                h3(class="footer__title") From our <span class="red-text">blog</span>
                div(class="footer__blog-posts")
                    div(class="footer__post")
                        img(class="footer__thumbnail" src="./img/city1.jpg", alt="City")
                        p Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
                    div(class="footer__post")
                        img(class="footer__thumbnail" src="./img/city1.jpg", alt="City")
                        p Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
                    div(class="footer__post")
                        img(class="footer__thumbnail" src="./img/city1.jpg", alt="City")
                        p Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
                    div(class="footer__post")
                        img(class="footer__thumbnail" src="./img/city1.jpg", alt="City")
                        p Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
            
            div(class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3")
                h3(class="footer__title") Our <span class="red-text">location</span>
                p Suspendisse ullamcorper diam ex.
                address(class="footer__address") 154 Street Name 242<br> Cityname, Country
                a(class="red-text footer__email" href="mailto:info@domainame.com") info@domainame.com
                div(class="footer__social")
                    ul(aria-label)
                        li
                            a(href="#")
                                svg(width="18" height="18")
                                    use(xlink:href="/img/sprite.svg#twitter")
                        li
                            a(href="#")
                                svg(width="18" height="18")
                                    use(xlink:href="/img/sprite.svg#facebook")
                        li
                            a(href="#")
                                svg(width="18" height="18")
                                    use(xlink:href="/img/sprite.svg#google")
                        li 
                            a(href="#")
                                svg(width="18" height="18")
                                    use(xlink:href="/img/sprite.svg#pinterest")